<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>showdata</title>
    <% include ../partials/head %>
</head>

<body>

    <header>
        <% include ../partials/header %>
    </header>
    <h1>this is showdata </h1>

    <div class="container">
            <h1><%= thisdata.StudentID %></h1>
            <h2><%= thisdata.Fullname %></h2>
            <h2><%= thisdata.Major %></h2>
            <h2><% thisdata.Skills.forEach(function(Skills){  %>
                <li><%= Skills %></li>
                <% }); %></h2>
    </div>

    <h2><% thisdata.Gif.forEach(function(Gif){  %>
        <img src="<%= Gif %>">
    
    
        <% }); %></h2>
    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>